* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: 16px; */
  /* color: rgba(0, 0, 0, 80%); */
}

h1 {
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #f95959;
  padding: 1.2rem 2rem;
}

.buttons {
  border: none;
  border-radius: 25px;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
}

main {
  padding: 1rem 2rem;
}

#list-add {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25px;
  overflow: hidden;
  margin: 1rem 2rem;
  /* padding: 0 0rem; */
}
#user-input {
  width: 100%;
  border: none;
  padding: 0px 10px;
}
#add-button {
  color: white;
  background-color: green;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 3rem;
}

#list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  /* padding: 1rem 0; */
}

#list input {
  height: 4rem;
  /* border: */
  padding: 0 2rem;
  font-size: 1rem;
  border: none;
  border-top: 1px solid lightgray;
}

#recipe-area {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 2rem;
  gap: 1rem;
}

#ingredients {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#add-ingredients-button {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: green;
  color: white;
  text-align: center;
}

#recipe-page {
  /* padding: 1.2rem 2rem; */
}

#recipe-ingredients ul {
  padding: 1em;
}

#shopping-list-page {
  display: flex;
  flex-direction: column;
}

#recipe-list-page {
  display: flex;
  flex-direction: column;
}

#recipe-page {
  display: flex;
  flex-direction: column;
}

#instructions-input {
  height: 100px;
}

#console-log-shopping-list-array {
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 10px;
}

#console-log-recipe-list-array {
  position: absolute;
  bottom: 10px;
  left: 200px;
  padding: 10px;
}
