* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: 16px; */
  /* color: rgba(0, 0, 0, 80%); */
  /* font-family: ; */
}

h1 {
  font-size: 1.5rem;
}
h2 {
  /* margin: 0.2rem 0; */
}

h3 {
  margin: 0.3rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}
header {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #f95959;
  padding: 1.2rem 2rem;
  /* height: 10%; */
}
input {
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
}

textarea {
  border: 1px solid lightgray;
  /* font-family: ; */
}

button {
  min-width: 30px;
  min-height: 30px;
  border: none;
}
.buttons {
  border: none;
  border-radius: 25px;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
}
body {
  /* height: 100vh; */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: lightgray;
}
main {
  max-width: 500px;
  padding: 1rem 2rem;
  background-color: white;
}

#list-add {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25px;
  overflow: hidden;
  margin: 1rem 2rem;
  /* padding: 0 0rem; */
}
#user-input {
  width: 100%;
  border: none;
  padding: 0px 10px;
}
#add-button {
  color: white;
  background-color: green;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 3rem;
}

#list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  /* padding: 1rem 0; */
}

#list input {
  height: 4rem;
  /* border: */
  padding: 0 2rem;
  font-size: 1rem;
  border: none;
  border-top: 1px solid lightgray;
}

.name-and-button-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.add-to-shopping-list-button {
  background-image: url(images/shopping-list-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

#recipe-area {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 2rem;
  gap: 1rem;
}

#ingredients {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#add-ingredients-button {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: green;
  color: white;
  text-align: center;
}

#recipe-list {
  display: flex;
  flex-direction: column;
}

#name-and-delete-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* button {
  
} */

#delete-button {
  /* width: 20px;
  height: 20px; */
  background-color: crimson;
  color: white;
  padding: 10px;
  border: none;
}

#ingredient-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#recipe-ingredients ul {
  padding: 1em;
}

#shopping-list-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#shopping-list-page > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#recipe-list-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#shopping-list-add {
  flex-direction: row;
}

#recipe-list-page > * {
  gap: 1rem;
}

#recipe-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#instructions-area {
  /* height: 200px; */
}

#instructions-input {
  min-height: 100px;
  width: 100%;
  /* field-sizing: normal; */
}

#console-log-shopping-list-array {
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 10px;
}

#console-log-recipe-list-array {
  position: absolute;
  bottom: 10px;
  left: 200px;
  padding: 10px;
}
